<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" th:href="@{/img/favico.png}"/>
    <link th:href="@{/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
    <link th:href="@{/css/plugins/toastr/toastr.min.css?v=1.0.0}" rel="stylesheet">
    <link th:href="@{/css/plugins/treeview/bootstrap-treeview.css}" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-sm-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>菜单列表</h5>
            </div>
            <div class="ibox-content">
                <div id="menuTree"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-8" id="div-form" style="display: none;">
        <div class="ibox float-e-margins">
            <div class="ibox-title" id="div-form-title">
                <h5>收起</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="commentForm">
                    <input id="id" name="id" type="hidden">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">角色名称：</label>
                        <div class="col-sm-8">
                            <input id="name" name="name" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button id="sbmt" class="btn btn-primary" type="submit" shiro:hasPermission="sysMenu:maintenance">
                                提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
<script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<script th:src="@{/js/content.min.js?v=1.0.0}"></script>
<script th:src="@{/js/plugins/toastr/toastr.min.js?v=1.0.0}"></script>
<script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>
<script th:src="@{/js/plugins/validate/messages_zh.min.js}"></script>
<script th:src="@{/js/plugins/treeview/bootstrap-treeview.js?v=1.0.0}"></script>
<script th:src="@{/js/core.js?v=1.0.0}"></script>
<th:block th:if="${menuTree != null}">
    <script th:inline="javascript">

        $('#menuTree').treeview({
            showIcon: false,
            showCheckbox: true,
            data: getTree(),
            level: 2,
            onNodeChecked: function (event, node) { //选中节点
                var selectNodes = getChildNodeIdArr(node); //获取所有子节点
                if (selectNodes) { //子节点不为空，则选中所有子节点
                    $('#menuTree').treeview('checkNode', [selectNodes, {silent: true}]);
                }
                var parentNode = $("#menuTree").treeview("getNode", node.parentId);
                setParentNodeCheck(node);
            },
            onNodeUnchecked: function (event, node) { //取消选中节点
                var selectNodes = getChildNodeIdArr(node); //获取所有子节点
                if (selectNodes) { //子节点不为空，则取消选中所有子节点
                    $('#menuTree').treeview('uncheckNode', [selectNodes, {silent: true}]);
                }
            },
            onNodeExpanded: function (event, data) {
                if (data.nodes === undefined || data.nodes === null) {

                } else if (data.tags[0] === "2") {
                    alert("Tags 2");
                } else {
                    alert("1111");
                }
            }
        });

        function getTree() {
            var allMenu = [[${menuTree}]];
            var head = {
                id: allMenu.id,
                text: allMenu.name,
                state: {checked: true}
            };
            if (allMenu.hasChild) {
                head.nodes = getNodes(allMenu.sysMenuDtoList);
            }
            var tree = [head];
            return tree;
        }

        function getNodes(menus) {
            var nodes = new Array();
            for (index in menus) {
                var menu = menus[index];
                var node = {
                    id: menu.id,
                    text: menu.name,
                    state: {checked: true}
                };
                if (menu.hasChild) {
                    node.nodes = getNodes(menu.sysMenuDtoList);
                }
                nodes.push(node)
            }
            return nodes;
        }

        function getChildNodeIdArr(node) {
            var ts = [];
            if (node.nodes) {
                for (x in node.nodes) {
                    ts.push(node.nodes[x].nodeId);
                    if (node.nodes[x].nodes) {
                        var getNodeDieDai = getChildNodeIdArr(node.nodes[x]);
                        for (j in getNodeDieDai) {
                            ts.push(getNodeDieDai[j]);
                        }
                    }
                }
            } else {
                ts.push(node.nodeId);
            }
            return ts;
        }

        function setParentNodeCheck(node) {
            var parentNode = $("#treeview-checkable").treeview("getNode", node.parentId);
            if (parentNode.nodes) {
                var checkedCount = 0;
                for (x in parentNode.nodes) {
                    if (parentNode.nodes[x].state.checked) {
                        checkedCount++;
                    } else {
                        break;
                    }
                }
                if (checkedCount === parentNode.nodes.length) {
                    $("#treeview-checkable").treeview("checkNode", parentNode.nodeId);
                    setParentNodeCheck(parentNode);
                }
            }
        }

    </script>
</th:block>
</body>
</html>
